body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    cursor: url(../image/CustomCursorDefault.png), default;
}
a{
    cursor: url(../image/CustomCursorLink.png) ,default;
    color: white;
}
a:hover{
    color: red;
}
#container{
    width: 75%;
    height: auto;
}
#header{
    width: 100%;
    height: 105px;
    background-color: black;
    display: flex;
    align-items: center;
}
#right-article{
    margin-left: 20px;
    width: auto;
    height: 100%;
    overflow: hidden;
}
#a-sentence{
    font-size: 30px;
    text-decoration: none;
    color: #401886;
    transition: 2s;
}
#a-sentence:hover{
    color: red;
}
#background-img{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#bridger1{
    display: flex;
    height: 75px;
    width: auto;
    align-items: center;
}
#articles{
    width: auto;
    height: 20px;
    display: flex;
    align-items: flex-end;
}
.link{
    margin-left: 15px;
    width: 150px ;
    transition: color 2s;
    display: flex;
    align-items: center;
    font-size: 15px;
    position: relative;
    margin-bottom: 5px;
}
.link:hover{
    color: red;
}
.dropdown-content{
    z-index: 1;
    position: absolute;
    width: 300px;
    height: auto;
    background-color: #62676B;
    border-radius: 5px;
    border: white 1px solid;
    margin-top: 4px;
    transition : 1s;
    display: none;
}
.dropdown-bridger{
   overflow: hidden;
}
.dropdown{
    width: 280px;
    height: 30px;
    padding-top: 10px;
    padding-left: 20px;
    transition : 1s;
    display: block;
}
#dropdown-icon1{
    width: 20px;
    height: 20px;
    margin-left: 6px;
    position: relative;
}
#dropdown-icon2{
    width: 20px;
    height: 20px;
    margin-left: 115px;
    position: absolute;
    display: none;
}
#dropdown-icon3{
    width: 20px;
    height: 20px;
    margin-left: 120px;
    position: absolute;
    display: none;
}
.link:hover > #dropdown-icon1{
    display: none;
}
.link:hover > #dropdown-icon2{
    display: block;
}
.link:hover > #dropdown-icon3{
    display: block;
}
.dropdown:hover{
    color: red;
    background-color: rgb(88, 88, 88);
}
.dropdown-bridger:hover > .dropdown-content{
    display: block;
}
#chat-icon{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}
#discuss{
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-end;
    margin-left: 15px;
}
#community-icon{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}
#Community{
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-end;
    margin-left: 5px;
}
#bridger2{
    width: 450px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#addNewPage{
    display: flex;
    font-size: 14px;
    width: 140px;
    height: 24px;
    border-radius: 3px;
    border: white 5px solid;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
#page-icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
#addNewPage:hover{
    border: red 5px solid;
}
#main{
    width: 100%;
    height: auto;
    background-color: #1d1e1f;
}
#main-head{
    width: 100%;
    height: 70px;
    display: flex;
    border-bottom: 1px white solid;
    align-items: center;
}
#a-word{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-left: 20px;
} 
#bridger4{
    width: 960px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#Share{
    display: flex;
    font-size: 14px;
    width: 100px;
    height: 24px;
    border-radius: 3px;
    border: white 5px solid;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
#share-icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
#Share:hover{
    border: red 5px solid;
}
#left-main{
    width: 70%;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
}
#bridger5{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome-words{
    display: flex;
    background-color: black;
    font-size: 20px;
    text-align: center;
    height: 40px;
    width: 500px;
    border: 2px white solid;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}
#bridger6{
    width: 100%;
    height: auto;
    border: 2px white solid;
    border-radius: 7px;
}
#mainPagePicture{
    width: 100%;
    height: 250px;
}
#introduction{
    padding: 8px;
    width: 100%;
    height: auto;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
#mySlideShow{
    width: 100%;
    height: 390px;
    position: relative;
}
.mySlides{
    width: 100%;
    height: 100%;
    display: none;
}
.MyButtonLeft{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background-color: black;
    position: absolute;
    border: 1px black solid;
    border-radius: 20px;
    top: calc(50% - 5px);
    transition: 1s;
    color: white;
    display: none;
}
.MyButtonRight{
    right: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background-color: black;
    border: 1px black solid;
    border-radius: 20px;
    top: calc(50% - 5px);
    transition: 1s;
    color: white;
    display: none;
}
.MyButtonLeft:hover{
    cursor: pointer;
    color: red;
}
.MyButtonRight:hover{
    cursor: pointer;
    color: red;
}
#mySlideShow:hover > .MyButtonLeft{
    display: block;
}
#mySlideShow:hover > .MyButtonRight{
    display: block;
}
#the-articles{
    padding: 5px;
    width: 97%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
#squares{
    width: 100px;
    height: 120px;
    text-align: center;
    font-size: 12px;
    color: red;
    transition: 1s;
}
#Img-button{
    width: 100px;
    height: 100px;
    border: 1px white solid;
    border-radius: 4px;
}
#squares:hover{
    color: black;
}
#right-main{
    width: 30%;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
}
#some-words{
    display: flex;
    background-color: black;
    font-size: 20px;
    text-align: center;
    height: 40px;
    width: 140px;
    border: 2px white solid;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}
#something-to-attach{
    display: flex;
}
#some-pages{
    font-size: 15px;
}
#introduction1{
    padding: 8px;
    width: 100%;
    height: auto;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#footer{
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
#footer{
    background-color: black;
    border-top: 1px white solid;
}